{% extends 'bases/base.html' %}
{% load static %}


{% block content %}
<!-- Main layout -->
<main>
  <div class="container-fluid">

    <!-- Section: Team v.1 -->
    <section class="section team-section">

      <!-- Grid row -->
      <div class="row text-center">

        <!-- Grid column -->
        <div class="col-md-7 mb-4">

          <!-- Card -->
          <div class="card card-cascade cascading-admin-card user-card">

            <!-- Card Data -->
            <div class="admin-up d-flex justify-content-start">
              <i class="fas fa-users info-color py-4 mr-3 z-depth-2"></i>
              <div class="data">
                <h5 class="font-weight-bold dark-grey-text">Add teacher - <span class="text-muted">Complete Teacher Profile</span></h5>
              </div>
            </div>
            <!-- Card Data -->
            <form class="md-form">
              <!-- Card content -->
              <div class="card-body card-body-cascade">
  
                <!-- Grid row -->
                <div class="row">
  
                  <!-- Grid column -->
                  <div class="col-lg-6">
  
                    <div class="md-form form-sm mb-0">
                      <input type="text" id="last-name" class="form-control form-control-sm">
                      <label for="last-name" class="">Last Name</label>
                    </div>
  
                  </div>
                  <div class="col-lg-6">
  
                    <div class="md-form form-sm mb-0">
                      <input type="text" id="first-name" class="form-control form-control-sm">
                      <label for="first-name" class="">First Name</label>
                    </div>
  
                  </div>
                  <!-- Grid column -->
  
                  <!-- Grid column -->
                  <div class="col-lg-6">
  
                    <div class="md-form form-sm mb-0">
                      <input type="text" id="email" class="form-control form-control-sm">
                      <label for="email" class="">Email address</label>
                    </div>
  
                  </div>
                  <!-- Grid column -->
  
                  <!-- Grid column -->
                  <div class="col-md-6">
  
                    <div class="md-form form-sm mb-0">
                      <input type="text" id="phone-number" class="form-control form-control-sm">
                      <label for="phone-number" class="">Phone Number</label>
                    </div>
  
                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row -->
  
                <!-- Grid row -->

                <div class="row">
  
                  <!-- Grid column -->
                  <div class="col-md-6">
  
                    <div class="md-form form-sm mb-0">
                      <input type="text" id="room" class="form-control form-control-sm">
                      <label for="room" class="">Room Number</label>
                    </div>
  
                  </div>
                  <!-- Grid column -->
                  <!-- Grid column -->
                  <div class="col-md-6">
  
                    <div class="md-form form-sm mb-0">
                       <!-- Name -->
                      <select class="mdb-select md-form" multiple>
                        <option value="" disabled selected>Subjects Taught</option>
                        {% for subject in subjects  %}
                        <option value="{{ subject.id }}">{{ subject.subject_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
  
                  </div>
                  <!-- Grid column -->
                </div>
                <!-- Grid row -->
                <br>
                <div class="file-field  col-md-12">
                  <div class="btn btn-primary btn-sm float-left">
                    <span>Choose file</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload your file">
                  </div>
                </div>
              </div>
              <!-- Card content -->
            </form>

          </div>
          <!-- Card -->

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-5 mb-4">

          <!-- Card -->
          <div class="card profile-card">

            <!-- Avatar -->
            <div class="avatar z-depth-1-half mb-4">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle" alt="First sample avatar image">
            </div>

            <div class="card-body pt-0 mt-0">

              <!-- Name -->
              <h3 class="mb-3 font-weight-bold"><strong>Anna Deynah</strong></h3>
              <h6 class="font-weight-bold cyan-text mb-4">Web Designer</h6>

              <p class="mt-4 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip consequat.</p>

            </div>

          </div>
          <!-- Card -->

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!-- Section: Team v.1 -->

  </div>
</main>
<!-- Main layout -->
{% endblock content %}


{% block scripts %}
<script>
  // SideNav Initialization
  $(".button-collapse").sideNav();

  var container = document.querySelector('.custom-scrollbar');
  var ps = new PerfectScrollbar(container, {
    wheelSpeed: 2,
    wheelPropagation: true,
    minScrollbarLength: 20
  });
  // Material Select Initialization
  $(document).ready(function () {
      $('.mdb-select').materialSelect();
    });

</script>
{% endblock scripts %}


  