{% extends 'bases/base.html' %}
{% load static %}


{% block styles %}
  <!-- DataTables.net  -->
  <link rel="stylesheet" type="text/css" href="{%static 'css/addons/datatables.min.css' %}">
  <link rel="stylesheet" href="{%static 'css/addons/datatables-select.min.css' %}">

  <!-- Your custom styles (optional)  -->
  <style>

  </style>

{% endblock styles %}


  {% block content %}
  
  <!-- Main layout  -->
  <main>
    <div class="container-fluid mb-5">

      <!-- Section: Basic examples -->
      <section>

        <!-- Gird column -->
        <div class="col-md-12">
          <div class="row">
            <div class="col-5">

              <h5 class="my-4 dark-grey-text font-weight-bold">All Teachers</h5>
            </div>
            <div class="col-7">
              <form class="md-form">
                <div class="file-field">
                  <a href="{% url 'add_teacher' %}" class="btn btn-warning btn-sm">Add teacher</a>
                  <div class="btn btn-primary btn-sm float-left">
                    <span>Choose file</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload your file">
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Picture
                    </th>
                    <th>Last Name
                    </th>
                    <th>First Name
                    </th>
                    <th>Email
                    </th>
                    <th>Phone Number
                    </th>
                    <th>Phone Number
                    </th>
                    <th>Subjects Taught
                    </th>
                    <th>Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for teacher in teachers %}
                  <tr>
                    <td>
                      <img src="{{ teacher.profile_picture.url }}" class=""  alt="">
                    </td>
                    <td>{{ teacher.last_name }}</td>
                    <td>{{ teacher.first_name }}</td>
                    <td>{{ teacher.email }}</td>
                    <td>{{ teacher.phone_number }}</td>
                    <td>{{ teacher.room_number }}</td>
                    <td>
                      <ul>
                      {% for subject in teacher.subjects_taught.all %}
                        <li>{{ subject.subject_name }}</li>
                      {% endfor %}
                      </ul>
                    </td>
                    <td>
                      <a class="btn-floating btn-sm btn-success"><i class="fas fa-edit"></i></a>
                      <a class="btn-floating btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>Picture
                    </th>
                    <th>Last Name
                    </th>
                    <th>First Name
                    </th>
                    <th>Email
                    </th>
                    <th>Phone Number
                    </th>
                    <th>Phone Number
                    </th>
                    <th>Subjects Taught
                    </th>
                    <th>Actions
                    </th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

        </div>
        <!-- Gird column -->

      </section>
      <!-- Section: Basic examples -->

    </div>
    </section>
    <!-- Section: Docs link -->
  </main>
  <!-- Main layout -->

  {% endblock content %}




  {% block scripts %}
  
  <!-- DataTables  -->
  <script type="text/javascript" src="{%static 'js/addons/datatables.min.js' %}"></script>
  <!-- DataTables Select  -->
  <script type="text/javascript" src="{%static 'js/addons/datatables-select.min.js' %}"></script>
  <!-- Custom scripts -->
  <script>
    // SideNav Initialization
    $(".button-collapse").sideNav();

    let container = document.querySelector('.custom-scrollbar');
    var ps = new PerfectScrollbar(container, {
      wheelSpeed: 2,
      wheelPropagation: true,
      minScrollbarLength: 20
    });

    $('#dtMaterialDesignExample').DataTable();
  
    $('#dt-material-checkbox').dataTable({

      columnDefs: [{
        orderable: false,
        className: 'select-checkbox',
        targets: 0
      }],
      select: {
        style: 'os',
        selector: 'td:first-child'
      }
    });

    $('#dtMaterialDesignExample_wrapper, #dt-material-checkbox_wrapper').find('label').each(function () {
      $(this).parent().append($(this).children());
    });
    $('#dtMaterialDesignExample_wrapper .dataTables_filter, #dt-material-checkbox_wrapper .dataTables_filter').find(
      'input').each(function () {
      $('input').attr("placeholder", "Search");
      $('input').removeClass('form-control-sm');
    });
    $('#dtMaterialDesignExample_wrapper .dataTables_length, #dt-material-checkbox_wrapper .dataTables_length').addClass(
      'd-flex flex-row');
    $('#dtMaterialDesignExample_wrapper .dataTables_filter, #dt-material-checkbox_wrapper .dataTables_filter').addClass(
      'md-form');
    $('#dtMaterialDesignExample_wrapper select, #dt-material-checkbox_wrapper select').removeClass(
      'custom-select custom-select-sm form-control form-control-sm');
    $('#dtMaterialDesignExample_wrapper select, #dt-material-checkbox_wrapper select').addClass('mdb-select');
    $('#dtMaterialDesignExample_wrapper .mdb-select, #dt-material-checkbox_wrapper .mdb-select').materialSelect();
    $('#dtMaterialDesignExample_wrapper .dataTables_filte, #dt-material-checkbox_wrapper .dataTables_filterr').find(
      'label').remove();

  </script>
  {% endblock scripts %}


